@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');

/* base styles for html and body elements */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Mukta Vaani', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100%;
}

/* styles for header of each page */
header {
    background-color: black;
    height: 6rem;
    position: relative;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;  
    padding-top: 30px;  
    padding-left: 30px;
    padding-right: 20px;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
       
}

nav a:hover {
    text-decoration: underline;
}

.active {
    color:darkgoldenrod;
}

#logo {
    display:inline-block;
    position: absolute;
    top: 20px;
    right: 40px;
}

#logo h2 {
    font-family: 'MuseoModerno', cursive;
    color: white;
    font-size: 2rem;
}

/* styles for footer of each page */

footer {
    width: 100%;
    background-color: black;
    color: white;
    height: 80px;
}

#small-logo {
    display: inline-block;
    padding: 20px 30px;
        
}

#small-logo p {
    font-family: 'MuseoModerno', cursive;
    font-size: 1.6em;
}
 
#small-logo i {
    font-size: 0.8em;    
}



footer ul {
    float: right;
    
}

footer li {
    display:inline-block;
    padding: 20px 40px 20px 80px;
    
}


footer i {
    color: white;
    font-size: 240%;
    
}

.social i:hover {
    color:darkgoldenrod;
}

#small-logo i:hover {
    color:white;
}

/* styles for main image on index page */


#main-image-container {
    height: 70vh;
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 80px auto;

}

#main-image {
    height: 100%;
    max-width: 100%;
    background: url("../images/main-img-large.jpg") no-repeat center center;
            
}

#cover-text {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    height: 200px;
    width: 100%;
    text-align: center;
    left: auto;
    bottom: -10%;
    z-index: 3;
    position: absolute;
}

#cover-text h1 {
    font-family: 'MuseoModerno', cursive;

}

/* styles for about-us section on home page */

#about-us-container {
    width: 80%;
    height: auto;
    margin: auto;
}

#subheading {
    text-align: center;
    margin-bottom: 40px;
}

#subheading > h2 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    
}

#subheading > h3 {
    font-size: 1.5rem;
    padding: 0px 40px;
    line-height: 2rem;
    letter-spacing: 0.1rem;

}

#img-left-text-right {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    height: auto;
    width: 80%;
    margin: 50px auto;   

}


#img-2 {
    width:60%;
    height: 50vh;
    display: inline-block;
    box-sizing: border-box;  
    background: url("../images/snake-belt.jpg") no-repeat center center;
    background-size: contain;


}

#text-box {
    width: 40%;
    height: auto;
    box-sizing: border-box;
    font-size: 1.1rem;
    display: inline-block;
}

/* styles for products page */

#products-intro {
    text-align: center;
    padding: 50px 10px;
}

#products-intro > h1 {
    font-family: 'MuseoModerno', cursive;
    font-size: 4rem;
}

#products-intro > h2 {
    font-size: 1.5rem;
}

#products-intro a {
    color: black;
}

#products-intro a:hover {
    color:darkgoldenrod;
    text-decoration: none;
}

/* styling for product list */


#ranges {
    display: none;
}


.return-top {
    color: black;
    border: solid black 2px;
    padding: 2%;
    border-radius: 20px;
    background-color: white;
    width: 120px;
    margin: 10px auto 20px;
    display:none;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
}

.return_top a:hover {
    color: darkgoldenrod;
}


.belt-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    
}

.belt {
    width: 450px;
    margin: 30px auto;
    display: inline-block;
    text-align: center;
}
.belt-photo{
    width: 300px;
    height: 200px;
    margin: 0px auto;
    overflow: hidden;
    transition: transform 1s linear 0s;
      
}

.img-container {
    width: 300px;
    height: 240px;
    margin: 20px auto 0px;
    overflow: hidden;
}

.belt-photo:hover{
    transform: scale(1.5);
}

#studs .belt-photo:hover{
    transform: scale(2);
}

.belt-caption {
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    display: inline-block;
}

#product-list h2 {
    font-family: 'MuseoModerno', cursive;
    font-size: 3rem;
    text-align: center;
}

#reptile, #scribble, #studs {
    margin-top: 50px;
}


/* styling for form section */


#contact-form-container {
    display: block;
    width: 80%;
    height: auto;
    margin: 20px auto;
}

#form-header h1{
    font-family: 'MuseoModerno', cursive;
    font-size: 3.2rem;
    text-align: center;
    min-height: fit-content;
    margin-bottom: 5px;
}

#form-header h2{
    font-size: 1.8rem;
    text-align: center;
    min-height: fit-content;
    margin-bottom: 15px;
}


form {
    height: auto;
    width: 60%;
    margin: 20px auto 120px;
    line-height: 3rem;
    border:darkslategray solid 2px;
    padding: 10px 80px;
    background-color: rgb(226, 214, 184);
    border-radius: 10px;   
}

form input {
    border: darkslategray solid 1px;
    border-radius: 10px;
    background-color: rgb(247, 245, 239);
}

.input-box {
    width: 100%;
    height: 2rem;
    padding: 7px;
    font-size: medium;
    margin-bottom: 10px;
}

form p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

form textarea {
    width: 100%;
    height: 10rem;
    border: darkslategray solid 1px;
    border-radius: 10px;
    background-color: rgb(247, 245, 239);
    font-size: large;
    color: black;
    padding: 5px;
}

form button {
    padding: 2px 10px;
    margin: 10px;
    font-size: 1.4rem;
    color: white;
    background-color: black;
    border-radius: 10px;
}

form button:hover {
    color: darkgoldenrod;
}

/* styling for contacts page map section */

#store-container {
    width: 80%;
    height: auto; 
    margin: 100px auto 100px;   
}

#store-container h2 {
    font-family: 'MuseoModerno', cursive;
    font-size: 3.2rem;
    text-align: center;
}

#store-container p {
    font-size: 1.1rem;
}


#map-contact-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  
    height:auto;
    padding-top: 50px;
    width: 100%;
}

#map-container {
    display: inline-block;
    width: 60%;
}


#map {
    margin: 0px auto;
    width:80%;
    height: auto;
    border: darkslategray solid 2px;
    box-shadow: 4px 4px rgb(204, 184, 134);
    border-radius: 2%;
}

#contact-details {
    width: 40%;
    text-align: right;
    padding-right: 5%;
}

#contact-details h3 {
    font-family: 'MuseoModerno', cursive;
    font-size: 1.8rem;
}

#contact-details h4 {
    font-size: 1.4rem;
}

#contact-details p {
    font-size: 1.2rem;
}

/* Styling for 404 error page */
#error-container {
    width: 100%;
    padding: 50px;
    margin: 20px auto; 
    text-align: center;   
}

#error-container img {
    margin: 30px auto;
    height: 40vh;
    width: auto;
}

#error-container h1, #error-container h2 {
    margin: 10px auto;
}

#error-container button {
    margin: 10px auto;
    padding: 5px;
    font-size: 1.2rem;
    background-color: black;
    border-radius: 10px;
    border: black solid 2px;
    text-decoration: none;
}

#error-container button a {
    text-decoration: none;
    font-weight: 600;
    color:white;
    
}

#error-container button a:hover {
    color: darkgoldenrod;
}


/* media queries */

@media screen and (max-width: 1200px) {

    #main-image-container {
        width: 80%;
        height: 50vh;
        margin: 80px auto;
    }

    #img-2 {
        width:50%;
        height: 40vh;
        background: url("../images/snake-belt-mobile.jpg") no-repeat center center;
        background-size: contain;    
    }
    
    #text-box {
        width: 50%;
    }
  
    form {
        width: 80%;
    }
    
}


@media screen and (max-width: 780px) {

    header {
        height: 7rem;
    }

    nav ul {
        display: block;
        text-align: center;
    }
    
    nav li {
        padding: 15px 40px 0px 40px;  
    }

    nav a {
        font-size: 1.1em;
    }

    #logo {
        position:static;
        display: block;
        text-align: center; 
        padding-top: 10px;       
    }

    
    #cover-text {
        font-size: 2em;
        font-weight: 700;
        bottom: -20%;
    }

    #img-2 {
        height: 75Vh;
        width: 100%;
        background: url("../images/snake-belt.jpg");
    }

    #img-left-text-right {
        margin: 30px auto;  
        width: 100%;     
    }

    #text-box {
        padding-top: 10px;
        width: 90%;
    }

    #products-intro > h1 {     
        font-size: 3rem;
    }
    
    #products-intro > h2 {
        font-size: 1.3rem;
    }

    #store-container {
        margin: 80px auto 0px;   
    }
    
    #store-container h2 {
        font-size: 2.5rem;
        
    }

    #map-contact-flex-container {
        padding-top: 50px;
        margin: 0px auto;
    }

    #map-container {
        width:80%;
        height: auto;
        margin: 0px auto;
        float: none;
        padding: 0px;
        overflow: hidden;
        box-sizing: border-box;
        justify-self: center;             
    }

    #map {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }



    #contact-details {
        width: 80%;
        margin: 10px auto;
        text-align: center;
        float:none;
        display: block;
        padding: 10px;
    }
  
       
    #contact-form-container h2{
        font-size: 1rem;
    }
        
    form {
        height: auto;
        width: 90%;
        margin: 10px auto;
        line-height: 2rem;
        padding: 10px 10px;
    }  
    
    form h3 {
        font-weight: bold;
        font-size: 1rem;
    }
    
    form p {
        font-size: 1rem;
        line-height: 2rem;
    }
      
           
}

@media screen and (max-height: 600px) {
    #cover-text h1{
        display: none;
    }
}

@media screen and (max-width: 600px) {

    nav li {
        padding: 15px 20px 0px 20px;  
    }

    #main-image-container {
        height: 75vh;
        margin: 30px auto; 
        width: 90%;   
    }

    #main-image {        
        background: url("../images/main-img-rotated.jpg") no-repeat center center;
        background-size: contain;                
    }

    #cover-text h1{
        display: none;
    }
    
    
    #subheading {
        margin-bottom: 20px;
    }
    
    #subheading > h2 {
        font-size: 1.8rem;
        letter-spacing: 0.3rem;        
    }
    
    #subheading > h3 {
        font-size: 1.2rem;
        padding: 0px 20px;
        line-height: 1.8rem;
        letter-spacing: 0.1rem;
    
    }

    #img-2 {
        margin-bottom: 20px;
        background: url("../images/snake-belt-mobile.jpg") no-repeat center center;
        background-size: contain;
        
    }

    #ranges {
        display: block;
    }

    .return-top {
        display: block;
    }

    #map-container {
        width:90%;
                  
    }

    #map {
        width: 100%;
        height: 40vh;
        margin: 0 auto;
    }


    #small-logo {
        display: none;
    }

    footer ul {
        float: none;
        margin: 0px auto;        
    }

    footer li {
        padding: 20px 70px;
        margin: 0px auto;
    }    

}





