@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');

/* base styles for html and body elements */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Mukta Vaani', sans-serif;
}

body {
    min-height: 100%;
}

/* styles for header of each page */
header {
    background-color: black;
    height: 6rem;
    position: relative;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;  
    padding-top: 30px;  
    padding-left: 30px;
    padding-right: 20px;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
       
}

nav a:hover {
    text-decoration: underline;
}

.active {
    color:darkgoldenrod;
}

#logo {
    display:inline-block;
    position: absolute;
    top: 20px;
    right: 40px;
}

#logo h2 {
    font-family: 'MuseoModerno', cursive;
    color: white;
    font-size: 2rem;
}

/* styles for footer of each page */

footer {
    width: 100%;
    background-color: black;
    color: white;
    height: 80px;
}

#small-logo {
    display: inline-block;
    padding: 20px 30px;
        
}

#small-logo p {
    font-family: 'MuseoModerno', cursive;
    font-size: 1.6em;
}
 
#small-logo i {
    font-size: 0.8em;    
}

footer ul {
    float: right;
    
}

footer li {
    display:inline-block;
    padding: 20px 40px 20px 80px;
    
}


footer i {
    color: white;
    font-size: 240%;
    
}

footer i:hover {
    color:darkgoldenrod;
}

/* styles for main image on index page */


#main-image-container {
    height: 600px;
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 80px auto;

}

#main-image {
    height: 600px;
    width: 100%;
    background: url("../images/TieUp\ Belts-12.jpg") no-repeat center center;
            
}

#cover-text {
    font-size: 3rem;
    font-family: 'MuseoModerno', cursive;
    letter-spacing: 5px;
    width: 100%;
    height: 200px;
    background-color: rgba (169, 169, 169, 0,5);
    text-align: center;
    left: auto;
    bottom: -50px;
    z-index: 3;
    position: absolute;
}

/* styles for about-us section on home page */

#about-us-container {
    width: 80%;
    margin: auto;
}

#subheading {
    text-align: center;
    margin-bottom: 40px;
}

#subheading > h2 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    
}

#subheading > h3 {
    font-size: 1.5rem;
    padding: 0px 40px;
    line-height: 2rem;
    letter-spacing: 0.1rem;

}

#img-left-text-right {
    height: 500px;
    width: 80%;
    margin: 50px auto;

}

#img-2 {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;  
    overflow: hidden; 

}

#text-box {
    width: 50%;
    box-sizing: border-box;
    padding: 10px 50px;
    float: right;
}

/* styles for products page */

#products-intro {
    text-align: center;
    padding: 50px 0px;
}

#products-intro > h1 {
    font-family: 'MuseoModerno', cursive;
    font-size: 4rem;
}

#products-intro > h2 {
    font-size: 1.5rem;
}

#products-intro a {
    color: black;
}

#products-intro a:hover {
    color:darkgoldenrod;
    text-decoration: none;
}

